*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
    color:#344fa1;
    
}

/* Navbar css starts*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2px;
}
.r-nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.r-nav li{
    list-style:none;
    margin:10px;
}
.r-nav a{
    text-decoration: none;
    padding:1rem;
    display: block;
}
.toggle-button{
    position: absolute;
    top:2.3rem;
    right:1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:21px;
}
.toggle-button .bar{
    height:3px;
    width:100%;
    border-radius: 10px;
    background-color: black;
}
#sign-in{
    border-radius: 20px;
    padding:8px 25px;
    background-color: #344fa1;
    color:#FFFFFF;
    transition: all 0.3s ease 0s;
}
#sign-in:hover , .cta:hover{
    
    background-color: #FFFFFF;
    border: 1px solid #344fa1;
    color:#344fa1;
}
.r-nav li a{
    transition: all 0.3s ease 0s;

}
.r-nav li a:hover{
    background-color: #344fa1;
    color:#FFFFFF;
    border-radius: 20px;
    padding:8px 20px ;
    border:none;
}

/* Navbar css ends*/

/*Intro div CSS starts*/

.intro-div{
    display:flex;
    justify-content: space-between;
    padding:40px;
    
}
.intro-content{
    padding:10px;
}
.cta{
    margin: 40px 0px;
    font-size:16px;
    padding:10px 25px;
    border-radius: 20px;
    border:1px solid transparent;
    background-color: #344fa1;
    color:#FFFFFF;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.toggle{
    background-color: #d1d1d1;
    display: flex;
    height:51px;
    width:240px;
    border-radius: 20px;
    align-items:center;
    justify-content: space-between;
    cursor: pointer;
}
.ball{
    height:47px;
    width:120px;
    background-color: #ff7300;
    position: absolute;
    border-radius:20px;
    opacity:0.8;
    transition: .4s;
}
.text1,.text2{
    font-weight: bold;
    text-align:center;
}
.toggle-text{
    padding:12px;
    z-index:1;
}
#checkbox{
    opacity: 0;
    position: absolute;
}
#checkbox:checked + .toggle .ball{
    transform:translateX(100%);
    
}
#checkbox:checked + .toggle .text2{
    color:#FFFFFF;
    font-weight: 0px;
}
#checkbox:not(:checked) + .toggle .text1{
    color:#FFFFFF;
    font-weight: 0px;
}
.toggle-switch{
    margin-top:2px;
}

/* Intro Div CSS ends*/

/*Showcase CSS starts*/
.showcase{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:50px;
}
/*Showcase CSS ends*/

/*Showcase adv  css starts*/

.adv {
    display:flex;
    justify-content:space-around;
    align-items: center;
    padding:50px;
}
.adv-h{
    color:#ff7300;
    padding-top:13px;
    padding-bottom: 12px;
    font-weight: bold;
}
.cont{
    
    border-radius: 20px;
    background-color: #ffffff;
    cursor:pointer;
    box-shadow:3px 3px 5px 6px #ccc;
    transition: all  0.3s ease 0s;
    background-image: linear-gradient(45deg, #344fa1 50%, #ffffff 50%);
    background-size: 300% 100%;
    background-position: right bottom;
    transition: background-position .8s ease;
}

.inner-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height:270px;
    width:270px;
    font-weight: bold;
    text-align: center;
}
.image{
  
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
    
}
.cont:hover  {
     
 
    background-color: #344fa1;
    background-position: left top;
    
}
.cont:hover p{
    font-weight:normal;
    color:white;
}
/*Showcase adv css ends*/

/* Secondary  and tertiary div  css starts */
.i-h{
    font-size: 36px;

}
#i-h{
    font-size: 50px;

}
.second-div, .third-div{
    display:flex;
    justify-content: space-between;
    padding:40px;
   
}
.second-content,.third-content {
    padding:10px;
    margin-top:15px;
}

/* Secondary & Tertiary div css ends*/

/*Final div starts*/

.f-cont{
    text-align: center;
    box-shadow:3px 3px 5px 6px #ccc;
    border-radius:20px;
    padding:20px 8px;
    width:280px;
    margin:10px 25px;
    height:130px;
    transition: transform .2s ease;
    cursor: pointer;
    background-color: #FFFFFF;
}

.f-h{
    color:#ff7300;
    font-weight: bold;
}
.f-cont:hover{
    transform: scale(1.1);
}
.final{
    margin-bottom:25px;
}
.numbers{
    display:flex;
    justify-content:center;
    align-items: center;
    
    padding:50px;
}
/*Final div ends */

/*Footer CSS starts*/

.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 40px;
}
footer ul{
    list-style-type: none;
}
footer ul li{
    cursor: pointer;
}
.foot-cont{
    margin-top:90px;
    line-height: 3;
}

/*Footer CSS ends*/

/* Animation classes starts */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity:0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity:1;
}

/* Animation classes ends */

/* Responsiveness and media queries*/

@media (max-width: 1024px){
    .toggle-button{
        display: flex;
    }
    .r-nav{
        display: none;
        width:100%;
        padding:20px 0px;
        z-index:100;
        background-color: #eef2fc;
        
       

    }
    .r-nav li a:hover  {
        background-color: transparent;
        color:#ff7300;
    }

    #sign-in{
        background-color: transparent;
        color:#344fa1;
        font-weight: bolder;
    }
    #sign-in:hover{
        border:none;
        background-color: transparent;
        color:#ff7300 ;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar ul{
        width:100%;
        flex-direction: column;
    } 
    .r-nav li{
        text-align: center;
    }
    .r-nav li a{
        padding: .5rem 1rem;
    }
    .inner-cont{
        width:200px;
        height:200px;
    }
    .r-nav.act{
    display: flex;
    }
    

    
   
}
@media only screen and (max-width: 926px){
    .intro-div{
        flex-direction: column;
    }
    .intro-img-cont{
        order:2;
        text-align:center;
    }

}
@media only screen and (max-width: 966px){
    .intro-div , .second-div,.third-div,.footer-links{
        flex-direction: column;
        
    }
   
    .intro-img-cont, .intro-img{
        opacity:0;
        display:none;
    }
    .second-img-cont{
        order:2;
        text-align: center;
    }
    .adv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0;
        
    }
    .third-img, .second-img{
        margin-top:40px;
        width:65%;
       

    }
    .third-img-cont{
        text-align: center;
    }
    .cont{
        padding:10px;
        margin:0px;
        margin:20px 10px;
    }
    .footer-links{
        display: grid;
        grid-template-columns: auto auto;
        align-items: flex-start;
        justify-content: space-around;
    }
    .inner-cont{
        width:65vw;
        height:auto;
        
    }
    .f-cont{
        width:200px;
        height:150px;
        }
    .foot-cont{
        margin-top:10px;
    }
    footer{
        background-color: #eef2fc;
        padding: 10px;
    }
    
    
}
@media only screen and (max-width: 990px){
    .numbers{
        flex-wrap:wrap;
        
    }
   .f-cont{
    margin:20px 10px;
   }
   .second-div{
       flex-direction: column;

   }
   .second-img-cont{
    order:2;
    text-align: center;
}
  .adv{
      flex-wrap: wrap;
  }
  .cont{
    margin:20px 10px;
  }
}
@media  screen and (max-width: 1259px){
    .adv{
        flex-wrap: wrap;
    }
    .cont{
      margin:20px 5px;
    }
}
@media only screen and (max-width: 520px){
    .footer-links{
        display: grid;
        grid-template-columns: auto;
        align-items: flex-start;
    }
}
@media only screen and (max-width: 1094px){
  .showcase{
      flex-wrap: wrap;
      
  }
  .s-img{
      margin: 20px 10px;
  }
}
@media only screen and (max-width: 602px){
    .showcase{
        background-color: #eef2fc;

    }
    .f-img{
        margin-top: 10px;
    }
    .adv{
        padding-top: 20px;
    }

}
@media only screen and (max-width: 610px){
    .i-h{
        font-size:30px;
    }
    #i-h{
        font-size:30px;
    }
   
    .intro-content, .second-content,.third-content p{
        font-size:14px;
    }
}
